@{
  Layout = "~/Shared/_Layout_Main.cshtml";
}

<div id="mbygg_main"><span class="main_top"></span> 
     	
        <div id="mbygg_content">
            <h2>Meland Byggevare As</h2>
            <p>Kontakt oss gjerne for en hyggelig byggprat eller legg igjen navn og telefonnummer i kontaktskjemaet under så ringer vi deg opp igjen.</p>
            <div class="cleaner_h40"></div>
        </div><!-- end of content -->
            
            <div id="mbygg_sidebar">                      
                <h2>Åpningstider</h2>
                <blockquote>
                          <p>Mandag - Onsdag 08.00 - 16.00</p>
                          <p>Torsdag         08.00 - 19.00</p>
                          <p>Fredag          08.00 - 16.00</p>
                          <p>Lørdag			 09.00 - 13.00</p>
                </blockquote>            
            </div>
                
		<div class="cleaner"></div>
     </div>     <!-- end of main -->
    <div id="mbygg_main_bottom"></div><!-- end of main -->
