@{
    Layout = "~/Shared/_Layout_Main.cshtml";
}

<div id="mbygg_main">
	 	  <span class="main_top"></span> 
          <p class="welcome_text">&quot;Byggtorget - Bygg med oss.&quot;</p>
       	  <div class="col_w420 float_l">
     
                  <h2>Meland Byggevare As</h2>
                    
                  <div class="fl_img"><img src="images/bargraph.png" alt="Our services" /></div>
                  <p><em>Din lokale leverandør av byggevarer fra anerkjente leverandører til konkuransedyktige priser. Kontakt oss gjerne for en hyggelig byggprat</em></p>
                    
<!--                  <div class="cleaner"></div>
					<ul class="mbygg_list">
                      <li>...</li>
                      <li>Curabitur ullamcorper nibh nisi, sed eleifend dolor.</li>
                      <li>Pellentesque adipiscing sollicitudin sapien nec aliquet.</li>
                      <li>Cras rutrum ullamcorper metus, vitae consectetur dolor.</li>
        
          </ul>
                    
                  <div class="button float_r"><a href="services.html">More...</a></div>
        -->
       </div>
              <div class="col_w420 float_r">
              	   <h2>Kontakt Oss</h2>
                   <!--<div class="image_wrapper fl_img"><img src="images/KontaktOss.jpg" alt="Kontakt" /></div>-->
                   <p>Meland Byggevare As</p>
				   <p>Tlf 56 17 55 00</p>
				   <p>Fax 56 17 55 01</p>
				   <p>post@melandbyggevare.no</p>
				   <p>Vestbygdvegen 56 <br> 5918 Frekhaug</p>
              <!--<div class="button float_r"><a href="news.html">All News</a></div>-->
              <div class="cleaner_h30"></div>
                   <h2>Åpningstider</h2>
                      <blockquote>
                          <p>Mandag - Onsdag 08.00 - 16.00</p>
                          <p>Torsdag         08.00 - 19.00</p>
                          <p>Fredag          08.00 - 16.00</p>
                          <p>Lørdag			 09.00 - 13.00</p>                            
                          <cite>Velkommen - <span>Til en hyggelig handel</span></cite>
                      	  </blockquote>
              		  </div>
    		  <div class="cleaner"></div>
    </div> <!-- end of main -->
    
	<div id="mbygg_main_bottom"></div> <!-- end of main -->