	<div id="mbygg_header">
        <div id="site_title">        
            <h1><a href="http://www.melandbyggevare.no"><img src="../images/mbygg_logo.png" alt="logo" /><span></span></a></h1>            
        </div> <!-- end of site_title -->
    </div> <!-- end of header -->