  	<div id="mbygg_menu">
        <ul>
            <li><a href="default.cshtml" class="current">Forside</a></li>
            <li><a href="About.cshtml">Om oss</a></li>
            <li><a href="Partners.cshtml">Leverandører</a></li>
            <li><a href="Contact.cshtml">Kontakt Oss</a></li>
			<li><a href="http://www.byggtorget.no">Byggtorget</a></li>			
        </ul> 
    </div> <!-- end of mbygg_menu -->